* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.buttons-tablet,
.buttons-phone,
.title-together {
  display: none;
}
/* scroll-bar */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #c3c3c3;
}

body::-webkit-scrollbar-thumb {
  background-color: #b80f08;
  border-radius: 20px;
  border: 3px solid #c3c3c3;
}

/* Navigation */
nav {
  height: 100vh;
  width: 12vw;
  background-color: #c3c3c3;
  font-family: "Roboto", sans-serif;
  z-index: 1000;
  position: relative;
  text-align: center;
}

.buttons a {
  color: black;
  display: block;
  margin-top: 10%;
  text-decoration: none;
}

.buttons a:hover {
  text-decoration: #b80f08 underline 2px;
  color: #b80f08;
}

img[src="imgs/logo.png"] {
  padding-top: 20px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.con h2 {
  margin-top: 5px;
  text-align: center;
}

.separatingLine {
  width: 80%;
  height: 2px;
  background-color: #b80f08;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.languages {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.languages a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.languages a:hover {
  text-decoration: #b80f08 underline 2px;
}

/* footer */

footer {
  width: 100%;
  height: 50vh;
  background-color: #292929;
  color: #c3c3c3;
  position: relative;
  background: url(imgs/m111.png) center/cover no-repeat;
}

.copyright {
  background-color: #3d3d3d;
  width: 100%;
  bottom: 0;
  position: static;
  text-align: center;
  color: #c3c3c3;
}

.copyright p {
  font-family: "Roboto Mono", monospace;
  font-size: large;
  padding: 10px;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-left {
  width: 100%;
}

.footer-right img {
  width: auto;
  height: 50%;
}

.quote {
  display: flex;
}

.footer-main {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 30px);
}

.footer-logo img {
  width: 40%;
  height: auto;
}

.footer-logo {
  width: 100%;
}

.footer-telegram {
  width: 100%;
  text-align: center;
}

.footer-telegram p {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 10px black;
}

.footer-navigation {
  width: 100%;
}

.footer-navigation ul {
  list-style: none;
  text-align: center;
}

.footer-navigation ul li {
  padding-top: 5%;
}

.footer-navigation ul li a,
.footer-link {
  color: #c3c3c3;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 10px black;
}

.footer-navigation ul li a:hover,
.footer-link:hover {
  text-decoration: #b80f08 underline 2px;
}

/* content */

.home-content {
  width: 88vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: url(imgs/s1b.png) center/cover no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.main-title {
  background-color: aliceblue;
  border-bottom: 5px #b80f08 solid;
  position: absolute;
  right: 8vw;
  top: 10vh;
  font-family: "Roboto Mono", monospace;
  font-size: 7vw;
  z-index: 100;
}

.main-title2 {
  position: absolute;
  right: 8vw;
  top: 35vh;
  font-family: "Roboto Mono", monospace;
  font-size: 7vw;
  background-color: aliceblue;
  border-bottom: 5px #b80f08 solid;
}

.home-content img {
  width: 65vw;
  position: absolute;
  bottom: 0;
  left: 4vw;
}

/* very bottom */

.givi {
  width: 100%;
  height: 100vh;
  background-color: #292929;
  background: url(imgs/givi1.png) center/cover no-repeat;
  position: relative;
  background-attachment: fixed;
}

.bottom-right {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-family: "Roboto Mono", monospace;
  color: aliceblue;
  border-bottom: dashed 2px #b80f08;
  padding-bottom: 10px;
}

.top-left {
  position: absolute;
  color: aliceblue;
  font-family: "Roboto Mono", monospace;
  top: 10%;
  left: 10%;
  border-top: dashed 2px #b80f08;
  padding-top: 10px;
}

.middle {
  font-size: 1.5vw;
  position: absolute;
  color: aliceblue;
  font-family: "Roboto Mono", monospace;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px black;
  border-bottom: dashed 2px #b80f08;
  border-top: dashed 2px #b80f08;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-me {
  position: relative;
  width: 100vw;
  background: url(imgs/b1.png) center/cover no-repeat;
  background-attachment: fixed;
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto  Mono", monospace;
}

.about-me-main {
  border-bottom: dashed 2px #b80f08;
  border-top: dashed 2px #b80f08;
  padding: 10px;
  margin-top: 45vh;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  text-justify: inter-word;
  font-size: larger;
  text-shadow: 0 0 10px black;
}

.about-me-contact {
  margin-top: 55vh;
  margin-bottom: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-bottom: dashed 2px #b80f08;
  border-top: dashed 2px #b80f08;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-me-contact h2 {
  margin-bottom: 20px;
}

/* Gallery */
.gallery-main {
  position: relative;
  background-color: #850909;
  width: 100vw;
  height: auto;
  background: url(imgs/b1.png) center/cover no-repeat;
  background-attachment: fixed;
}

.gallery-img-con {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 25vw;
  margin-right: 25vw;
  /* text-align: center; */
  overflow: hidden;
  object-fit: cover;
}

.gallery-main img {
  height: auto;
  width: 50vw;
  transition: transform 0.2s ease-out;
}

.gallery-img-con:hover img {
  transform: scale(1.2);
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1100px) {
  .separatingLine,
  .languages,
  .buttons,
  .main-title,
  .main-title2 {
    display: none;
  }
  nav {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #b80f08;
    overflow: hidden;
  }

  .buttons-tablet {
    display: block;
  }

  .con {
    display: flex;
    align-items: center;
  }

  img[src="imgs/logo.png"] {
    padding: 0;
    width: auto;
    height: 9vh;
  }

  .buttons-tablet a {
    color: black;
    margin-top: 10%;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.8vw;
    font-size: 1.2rem;
  }

  .buttons-tablet a:hover {
    text-decoration: #b80f08 underline 2px;
    color: #b80f08;
  }

  /* main content */
  .home-content {
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  img[src="imgs/s1c.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    max-width: 230%;
    max-height: 80vh;
    width: auto;
    height: auto;
  }

  img[src="imgs/violin2.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    max-width: 230%;
    max-height: 80vh;
    width: auto;
    height: auto;
  }

  img[src="imgs/m1.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    max-width: 230%;
    max-height: 80vh;
    width: auto;
    height: auto;
  }

  img[src="imgs/g1.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 70%;
    transform: translateX(-60%);
    max-width: 230%;
    max-height: 80vh;
    width: auto;
    height: auto;
  }

  footer {
    height: 35vh;
  }

  .title-together {
    display: block;
    background-color: aliceblue;
    border-bottom: 5px #b80f08 solid;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    font-family: "Roboto Mono", monospace;
    font-size: 6vw;
    z-index: 100;
  }

  .givi {
    background-position: 25%;
  }

  .middle {
    font-size: 150%;
    text-justify: inter-word;
    width: 80%;
    left: 50%;
  }

  .gallery-img-con {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: hidden;
    object-fit: cover;
  }

  .gallery-main img {
    height: auto;
    width: 80vw;
    transition: transform 0.2s ease-out;
  }
}

/* phones */
@media only screen and (max-width: 599px) {
  .separatingLine,
  .languages,
  .buttons,
  .footer-logo,
  .footer-navigation,
  .main-title,
  .main-title2 {
    display: none;
  }

  nav {
    overflow: visible;
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #b80f08;
  }

  .buttons a {
    color: black;
    display: block;
    margin-top: 0;
  }

  .buttons a:hover {
    text-decoration: #b80f08 underline 2px;
    color: #b80f08;
  }

  img[src="imgs/logo.png"] {
    padding: 0;
    width: 9vh;
    margin: 0;
    height: 9vh;
  }

  .con {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    justify-content: space-around;
  }

  .buttons {
    display: none;
  }

  .phone-icon {
    display: block;
  }

  .phone-icon div {
    width: 40px;
    height: 4x;
    background-color: #b80f08;
    margin: 5px;
  }

  .phone-icon .line1,
  .phone-icon .line2,
  .phone-icon .line3 {
    width: 30px;
    height: 3px;
    background-color: #b80f08;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .phone-icon.active .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .phone-icon.active .line2 {
    opacity: 0;
  }

  .phone-icon.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .buttons-phone {
    display: none;
    justify-content: center;
    flex-direction: column;
    background-color: #c3c3c3;
    border-top: #b80f08 2px solid;
    border-bottom: #b80f08 2px solid;
  }

  .buttons-phone a {
    padding: 5vh 0;
    text-decoration: none;
    color: black;
  }

  .buttons-phone a:hover {
    text-decoration: #b80f08 underline 2px;
    color: #b80f08;
  }

  /* main content */
  .home-content {
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  img[src="imgs/s1c.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    max-width: 230%;
    max-height: 80vh;
    width: auto;
    height: auto;
  }

  img[src="imgs/violin2.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 230%;
    max-height: 76vh;
    width: auto;
    height: auto;
  }

  img[src="imgs/m1.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 230%;
    max-height: 76vh;
    width: auto;
    height: auto;
  }

  img[src="imgs/g1.png"] {
    width: auto;
    width: auto;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    max-width: 230%;
    max-height: 76vh;
    width: auto;
    height: auto;
  }

  footer {
    height: auto;
  }

  .footer-main {
    height: 25vh;
    align-items: center;
  }

  .copyright p {
    font-size: 90%;
  }

  .middle {
    font-size: 100%;
    text-justify: inter-word;
    width: 80%;
  }

  .title-together {
    display: block;
    background-color: aliceblue;
    border-bottom: 5px #b80f08 solid;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    font-family: "Roboto Mono", monospace;
    font-size: 10vw;
    z-index: 100;
  }

  .con h2 {
    display: none;
  }

  .givi {
    background-position: 25%;
  }

  .about-me-main {
    margin-top: 30vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .gallery-img-con {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: hidden;
    object-fit: cover;
  }

  .gallery-main img {
    height: auto;
    width: 80vw;
    transition: transform 0.2s ease-out;
  }
}
